// 媒体查询的界限
@media_border: @wrap_width + 20px;

// 容器
@wrap_width: 490px;
@wrap_width_small: 250px;

// 菜单
@menu_width: 100%;
@menu_height: 100px;

// 游戏界面
@stage_bgcolor: #cdc1b4;
@stage_width: 470px;
@stage_width_small: 230px;
@line_short_side: 10px;
@side_color: #bbada0;

// 格子
@cell_width: ((@stage_width - @line_short_side*3) / 4);
@cell_width_small: ((@stage_width_small - @line_short_side*3) / 4);
@cell_height: @cell_width;
